[package]
name = "emerald"
version = "0.1.0"
authors = ["Dmitry Ulanov <dulanov@gmail.com>", "Constantine Kryvomaz <kostiyantynk@gmail.com>"]
description = "Ethereum Classic offline wallet written in Rust"
homepage = "http://etcdevteam.com"
repository = "https://github.com/ethereumproject/emerald-rs"
documentation = "https://docs.rs/emerald-rs"
keywords = ["rust", "ethereum-classic", "blockchain", "crypto-wallet"]
categories = ["ethereum-classic"]
readme = "README.adoc"
license = "Apache-2.0"

[badges]
travis-ci = { repository = "ethereumproject/emerald-rs" }
appveyor = { repository = "ethereumproject/emerald-rs" }

[lib]
name = "emerald"
path = "src/lib.rs"
#crate-type = ["rlib", "cdylib"]

[[bin]]
name = "emerald-cli"
path = "src/main.rs"

[dependencies]
time = "0.1"
futures = "0.1"
futures-cpupool = "0.1"
jsonrpc-core = { git = "https://github.com/paritytech/jsonrpc.git",  branch="master" }
jsonrpc-minihttp-server = { git = "https://github.com/paritytech/jsonrpc.git", branch="master" }
lazy_static = "0.2"
log = "0.3"
regex = "0.2"
rustc-serialize = "0.3"
serde = "1.0"
serde_json = "1.0"
serde_derive = "1.0"
glob = "0.2"
uuid = { version = "0.5", features = ["rustc-serialize", "v4"] }
rust-crypto = "0.2"
secp256k1 = "0.6"
rand = "0.3"
byteorder="1.0"
# optional dependencies
docopt = { version = "0.7", optional = true }
env_logger = { version = "0.4", optional = true }
hyper = { version = "0.10", optional = true }
reqwest = { version = "0.6", optional = true }
clippy = {version = "0.0", optional = true}
chrono = "0.3"

[dev-dependencies]
tempdir = "0.3"
quickcheck = "0.4"
# quickcheck_macros = "0.4"

[features]
default = ["cli", "http"]
cli = ["docopt", "env_logger"]
http = ["hyper", "reqwest"]
dev = ["clippy"]
