[package]
name = "emerald-vault"
version = "0.28.0-alpha"
authors = ["Igor Artamonov <splix@emeraldpay.io>", "Dmitry Ulanov <dulanov@gmail.com>", "Constantine Kryvomaz <kostiyantynk@gmail.com>", "Stewart Mackenzie <setori88@gmail.com>", "Wei Tang <hi@that.world>"]
description = "Emerald Vault - Key Storage for Emerald Wallet"
homepage = "https://emerald.cash"
repository = "https://github.com/emeraldpay/emerald-vault"
documentation = "https://docs.rs/emerald-vault"
keywords = ["ethereum", "blockchain", "cryptocurrency", "private-key"]
categories = ["embedded", "external-ffi-bindings"]
readme = "crates.md"
license = "Apache-2.0"
edition = "2018"
autobenches = false

[lib]
name = "emerald_vault"
path = "src/lib.rs"
#crate-type = ["rlib", "cdylib"]

[dependencies]
time = "0.2.16"
futures = "0.3.5"
lazy_static = "1.0"
log = "0.4.8"
regex = "1.3.9"
hex = "0.4.2"
serde = "1.0"
serde_json = "1.0"
serde_derive = "1.0"
glob = "0.3.0"
uuid = { version = "0.8.1", features = ["serde", "v4"] }
secp256k1 = { version = "0.19.0", features = ["rand", "recovery"] }
# used by secp
rand = "0.6.5"
getrandom = "0.1.14"
byteorder = "1.3.4"
ethabi = "2.0.0"
num = "0.3.0"
bitcoin = "0.25.0"
aes-ctr = "0.4.0"
sha2 = "0.9.1"
sha3 = "0.9.1"
pbkdf2 = "0.4.0"
scrypt = "0.4.1"
hmac = "0.8.1"
# rocksdb 0.12.2 is the last one which compiles on macOS with -C target-feature=+crt-static
rocksdb = { version = "= 0.12.2", default-features = false, features = ["snappy"] }
hyper = { version = "0.12", optional = true }
clippy = { version = "0.0", optional = true }
chrono = "0.4.13"
hidapi = "0.4"
protobuf = { version = "= 2.8.1", features = ["with-bytes"] }
enum-display-derive = "0.1.0"
fs_extra = "1.1.0"
csv = "1.1.3"
base64 = "0.12.3"
rlp = "0.4.5"
hdpath = { version = "0.3.1", features = ["with-bitcoin"] }
byte-array-struct = { version = "0.2.0", features = ["with-serde"] }
bitcoin_hashes = "0.9.0"
#emerald-hwkey = { path = "../emerald-hwkey" }
emerald-hwkey = { git = "https://github.com/emeraldpay/emerald-hwkey", branch = "master" }

[dev-dependencies]
tempdir = "0.3.7"
quickcheck = "0.9.2"
bencher = "0.1.5"
# default feature bzip2 conflicts with rocksdb
zip = { version = "0.5.3", default-features = false, features = ["deflate"] }
# quickcheck_macros = "0.4"
simple_logger = "1.6.0"

[features]
default = []
dev = ["clippy"]
fs-storage = []

[[bench]]
name = "bench_crypto"
harness = false
