[package]
name = "jade-rs"
version = "0.2.0"
authors = ["Dmitry Ulanov <dulanov@gmail.com>", "Constantine Kryvomaz <kostiyantynk@gmail.com>", "Stewart Mackenzie <setori88@gmail.com>", "Wei Tang <hi@that.world>"]
description = "Ethereum Classic secure account management core libary"
homepage = "http://etclabscore.com"
repository = "https://github.com/etclabscore/jade-rs"
documentation = "https://docs.rs/jade-core"
keywords = ["ethereum-classic", "blockchain", "ffi", "crypto-wallet", "cold-storage"]
categories = ["embedded", "external-ffi-bindings"]
readme = "README.md"
license = "Apache-2.0"

[badges]
travis-ci = { repository = "etclabscore/jade-rs" }
appveyor = { repository = "etclabscore/jade-rs" }

[lib]
name = "jade_rs"
path = "src/lib.rs"
#crate-type = ["rlib", "cdylib"]

[dependencies]
time = "0.1.42"
futures = "0.1.25"
jsonrpc-core = "10.1.0"
jsonrpc-http-server = "10.1.0"
lazy_static = "1.3.0"
log = "0.4.6"
regex = "1.1.2"
hex = "0.3.2"
serde = "1.0.89"
serde_json = "1.0.39"
serde_derive = "1.0.89"
glob = "0.3.0"
uuid = { version = "0.7.2", features = ["serde", "v4"] }
secp256k1 = { version = "0.12.2", features = ["rand"] }
rand = "0.6.5"
byteorder= "1.3.1"
ethabi = "6.1.0"
num = "0.2.0"
bitcoin = "0.17.1"
aes-ctr = "0.3.0"
sha2 = "0.8.0"
sha3 = "0.8.1"
pbkdf2 = "0.3.0"
scrypt = "0.2.0"
hmac = "0.7.0"
# optional dependencies
emerald-rocksdb =  { version = "100.0.0", optional = true }
hyper = { version = "0.12.25", optional = true }
reqwest = { version = "0.9.11", optional = true }
clippy = { version = "0.0.302", optional = true }
chrono = "0.4.6"
hidapi = "0.5.2"

[dev-dependencies]
tempdir = "0.3.7"
quickcheck = "0.8.2"
# quickcheck_macros = "0.4"

[features]
default = ["http", "emerald-rocksdb"]
http = ["hyper", "reqwest"]
dev = ["clippy"]
fs-storage = []
